{% extends 'menu.html.twig' %}

{% block donationForm %}
    <div class="container" id="payment-form">
        <! Mandamos como parametro el 0 para que la funcion donate() sepa que se envió el formulario
        -->
        <form method="post" action="{{ path('app_donate', {idinsti: 0}) }}" class="credit-card-div">
            <div class="panel panel-default" >
                <div class="panel-heading">

                    <div class="row ">
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="Enter Card Number" />
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <span class="help-block text-muted small-font" > Expiry Month</span>
                            <input type="text" class="form-control" placeholder="MM" />
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <span class="help-block text-muted small-font" >  Expiry Year</span>
                            <input type="text" class="form-control" placeholder="YY" />
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <span class="help-block text-muted small-font" >  CCV</span>
                            <input type="text" class="form-control" placeholder="CCV" />
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <span class="help-block text-muted small-font" >  Amount</span>
                            <input name="amount" class="form-control" type="number" step="0.01" min="0.01">
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-6 pad-adjust">
                            <span class="help-block text-muted small-font" >  Name on the card</span>
                            <input type="text" class="form-control" placeholder="John Doe" />
                        </div>
                    </div>
                    <div class="buttons">
                        <button  type="submit" class="btn btn-success">Donate</button>
                        <button type="button" class="btn btn-danger">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}