{% extends 'base.html.twig' %}

{% block login %}
    <div class="form-signin">
        <h1 class="h3 mb-3 fw-normal">Please Log in</h1>
        {{ form_start(form, {'action': path('app_login'), 'method':'POST'}) }}

            <div class="form-floating">
                {{ form_widget(form.email, {'attr':{'class':'form-control'},'type': 'email'})}}
                <label>Email address</label>
            </div>
            <div class="form-floating">
                {{ form_widget(form.password, {'attr':{'class':'form-control'}, 'type': 'password'}) }}
                <label>Password</label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
            <button type="button" class="w-100 btn btn-lg btn-success"><a style="text-decoration:none; color:white" href="{{ path('app_sign') }}">Register</a></button>
            <p class="mt-5 mb-3 text-muted">&copy; Telus International 2022</p>
    </div>
{% endblock %}