{% extends 'base.html.twig' %}

{% block login %}
    <div class="form-signin" id="signin">
        {{ form_start(form, {'action': path('app_sign'), 'method':'POST'}) }}
        <h1 class="h3 mb-3 fw-normal">Please Sign in</h1>
            <div class="form-floating">
                <input class="form-control" type="text" name="name" required pattern="[A-z]+">
                <label>Name (Only letters allowed)</label>
            </div>
            <div class="form-floating">
                <input class="form-control" type="text" name="surname" required pattern="[A-z]+">
                <label>Surname (Only letters allowed)</label>
            </div>
            <div class="form-floating">
                {{ form_widget(form.email, {'attr':{'class':'form-control'},'type': 'email'}) }}
                <label>Email</label>
            </div>
            <div class="form-floating">
                {{ form_widget(form.password, {'attr':{'class':'form-control'},'type':'password'}) }}
                <label>Password</label>
            </div>
                <button type="submit" class="w-100 btn btn-lg btn-success">Register</button>
                <p class="mt-5 mb-3 text-muted">&copy; Telus International 2022</p>
    </div>
{% endblock %}